apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-index-html
  namespace: hml-nginx
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head><title>hml nginx</title></head>
    <body><h1> rodando no ambiente de homologacao </h1></body>
    </html>

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hml-nginx
  namespace: hml-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hml-nginx
  template:
    metadata:
      labels:
        app: hml-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:stable-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html-volume
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html-volume
          configMap:
            name: nginx-index-html

---
apiVersion: v1
kind: Service
metadata:
  name: hml-nginx
  namespace: hml-nginx
spec:
  selector:
    app: hml-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP


---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hml-nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx-internet
  rules:
    - host: hml-nginx.devopslabs.org
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hml-nginx
                port:
                  number: 80
